/* Default */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #6b7c93;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background: #fff;
    line-height: 1;
}

body, ul, p, h1, h2, h4 {
    margin: 0;
    padding: 0;
}

input, button, textarea {
    border: none;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    -webkit-box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
    box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
    border-radius: 22px;
    background-color: #ffffff;
    color: #4caf50;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Shape animation  */

@-webkit-keyframes uprise {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes uprise {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

.circle, .triangle, .rect {
    position: absolute;
    z-index: -1;
}

.section-title {
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.section-subtitle {
    color: #8191a6;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

@media screen and (max-width:768px) {
    .section-title {
        font-size: 24px;
    }
    .section-subtitle {
        line-height: 20px;
    }
}

/* Custom */

/* Header start */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.94);
    -webkit-box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
    box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
    z-index: 1;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 14px 0;
}

.contact-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
}

.socials-item {
    width: 14px;
    height: 12px;
}

.socials-item+.socials-item {
    margin-left: 22px;
}

.fa-facebook-square:hover {
    color: #405e94;
}

.fa-twitter:hover {
    color: #02a4d5;
}

.fa-pinterest:hover {
    color: #da4d43;
}

.fa-instagram:hover {
    color: #317ba0;
}

.fa-skype:hover {
    color: #00a3dc;
}

.fa-dribbble:hover {
    color: #fa77a3;
}

.contact-phone {
    font-family: 'roboto', sans-serif;
    color: #303842;
    font-size: 12px;
    font-weight: 400;
}

.phone-number-icon {
    display: none;
}

.phone-number {
    margin-left: 16px;
    color: #6b7c93;
    font-weight: 300;
}

.phone-number:hover {
    text-decoration: underline;
}

.header-nav-wrap {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.102);
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 13px 0 14px;
}

.collapse-menu {
    display: none;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
    background: transparent;
}

.collapse-menu:focus {
    outline: none;
}

.collapse-menu:hover {
    cursor: pointer;
}

.collapse-menu:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.collapse-menu .line {
    width: 25px;
    height: 2px;
    background-color: #45505e;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.collapse-menu.is-active {
    transform: rotate(45deg);
}

.collapse-menu.is-active:before {
    border: 2px solid #45505e;
}

.collapse-menu.is-active .line {
    width: 30px;
}

.collapse-menu.is-active .line:nth-child(2) {
    opacity: 0;
}

.collapse-menu.is-active .line:nth-child(1) {
    transform: translateY(10px);
}

.collapse-menu.is-active .line:nth-child(3) {
    transform: translateY(-10px) rotate(90deg);
}

.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu-item+.menu-item {
    margin-left: 24px;
}

.menu-link {
    padding: 27px 13px;
    border-top: 2px solid transparent;
    font-family: 'roboto', sans-serif;
    color: #45505e;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-link:hover, .menu-link.active {
    border-top: 2px solid #4caf50;
}

/* Header media */

@media screen and (max-width:992px) {
    .collapse-menu {
        display: block;
    }
    .header-menu {
        display: none;
    }
    .header-menu.is-active {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 101%;
        padding: 30px 45px;
        background: #fff;
        -webkit-box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
        box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
    }
    .menu-item+.menu-item {
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .header-menu.is-active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 101%;
        padding: 30px 45px;
    }
    .menu-link {
        display: block;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
    .menu-link:hover, .menu-link.active {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #4caf50;
    }
}

@media screen and (max-width:576px) {
    .contact-phone {
        color: #6b7c93;
    }
    .phone-number-icon {
        display: inline-block;
        margin-left: 15px;
        font-size: 14px;
    }
    .phone-number {
        display: none;
    }
    .fa-phone-square:hover {
        color: #4caf50;
    }
}

/* Header end */

/* Main start */

/* Home star */

.home {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.home-title {
    max-width: 883px;
    margin: 111px auto 40px;
    text-align: center;
    font-size: 56px;
    line-height: 64px;
}

.home-subtitle {
    max-width: 670px;
    margin: 0 auto 40px;
    text-align: center;
    color: #6b7c93;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.home-circle1 {
    top: 0;
    left: 370px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle2 {
    top: 77px;
    right: 17px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle3 {
    top: 315px;
    left: 642px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-circle4 {
    top: 412px;
    right: 60px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle5 {
    top: 468px;
    left: 286px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 5s infinite;
}

.home-circle6 {
    right: 385px;
    bottom: 372px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle7 {
    right: 160px;
    bottom: 326px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-circle8 {
    left: 143px;
    bottom: 173px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle9 {
    left: 350px;
    bottom: 288px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle10 {
    bottom: 54px;
    right: 262px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 5s infinite;
}

.home-triangle1 {
    right: 780px;
    bottom: 88px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-rect1 {
    right: 494px;
    bottom: 450px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-rect2 {
    left: 470px;
    bottom: 120px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

/* Home media */

@media screen and (max-width:992px) {
    .home-title {
        margin: 0 auto 30px;
        font-size: 46px;
        line-height: 54px;
    }
    .home-circle2, .home-circle5, .home-circle6, .home-circle9, .home-circle10, .home-rect1 {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .home-title {
        margin: 0 auto 20px;
        font-size: 24px;
        line-height: 20px;
    }
    .home-subtitle {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Home end */

/* Customers start */

.customers {
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    border-bottom: 1px solid rgba(0, 0, 0, 0.102);
}

.customers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 35px 15px 30px;
}

.customers-desc {
    max-width: 355px;
}

.customers-title {
    margin-bottom: 13px;
    font-family: 'roboto', sans-serif;
}

.customers-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.customer-logo+.customer-logo {
    margin-left: 72px;
}

/* Customers media */

@media screen and (max-width:992px) {
    .customers-container {
        flex-direction: column;
    }
    .customers-desc {
        margin-bottom: 15px;
    }
    .customers-title, .customers-subtitle {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .customers-desc {
        margin-bottom: 25px;
    }
    .customers-logos {
        flex-direction: column;
        align-items: center;
    }
    .customer-logo+.customer-logo {
        margin-left: 0;
        margin-top: 35px;
    }
}

/* Customers end */

/* Services start */

.services {
    position: relative;
    padding: 50px 0 140px;
}

.services-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

.services-container {
    background: #fff url(../images/servicesbg.png) no-repeat -70px top;
}

.services-inner {
    max-width: 730px;
    margin-left: auto;
}

.services-title {
    margin-bottom: 22px;
}

.services-subtitle {
    margin-bottom: 117px;
}

.services-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 85px;
}

.service-icon {
    color: #8191a6;
    font-size: 40px;
}

.service:hover .service-icon {
    color: #4caf50;
}

.service-desc {
    max-width: 268px;
    padding-left: 26px;
    border-left: 1px solid rgba(0, 0, 0, 0.102);
}

.service-name {
    margin-bottom: 16px;
    font-family: 'open-sans', sans-serif;
    color: #252b33;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.service-text {
    font-family: 'open-sans', sans-serif;
    color: #8191a6;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

/* Services media */

@media screen and (max-width:1200px) {
    .services-inner {
        max-width: 600px;
    }
}

@media screen and (max-width:992px) {
    .services {
        padding: 50px 0;
    }
    .services-container {
        background: #fff;
    }
    .services-inner {
        margin: 0 auto;
    }
    .services-title, .services-subtitle {
        text-align: center;
    }
    .services-subtitle {
        margin-bottom: 65px;
    }
    .services-desc {
        flex-direction: column;
    }
    .service-desc {
        max-width: none;
        padding-left: 25px;
        margin-left: 25px;
    }
    .service-icon {
        display: block;
        width: 50px;
        color: #8191a6;
        font-size: 40px;
        text-align: center;
    }
    .service-name {
        margin-bottom: 10px;
    }
    .services-svg {
        bottom: -1px;
    }
}

@media screen and (max-width: 768px) {
    .service {
        margin-bottom: 45px;
    }
}

/* Services end */

/* Advantages star */

.advantages {
    position: relative;
    background: #fafafa;
    padding: 50px 0 140px;
}

.advantages-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

.advantages-container {
    background: #fafafa url(../images/advantagesbg.png) no-repeat right top;
}

.advantages-inner {
    max-width: 750px;
    margin-right: auto;
}

.advantages-title {
    margin-bottom: 30px;
}

.advantages-subtitle {
    margin-bottom: 110px;
}

.advantages-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 430px;
}

.advantage {
    width: 150px;
    margin-bottom: 80px;
}

.advantage-title {
    color: #303842;
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.advantage-count {
    display: block;
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 44px;
    font-weight: 100;
}

.project-count {
    color: #32d5ba;
}

.cofees-count {
    color: #6dc4f2;
}

.customers-count {
    color: #ffd13c;
}

.code-count {
    color: #f44336;
}

/* Advantages media */

@media screen and (max-width:1200px) {
    .advantages-inner {
        max-width: 650px;
    }
}

@media screen and (max-width:992px) {
    .advantages {
        padding: 50px 0;
    }
    .advantages-container {
        background: #fafafa;
    }
    .advantages-inner, .advantages-desc {
        margin: 0 auto;
    }
    .advantages-title, .advantages-subtitle {
        text-align: center;
    }
    .advantages-subtitle {
        margin-bottom: 75px;
    }
}

/* Advantages end */

/* Contact Us start */

.contact-us {
    position: relative;
    padding: 50px 0 30px;
}

.contact-us-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    z-index: -1;
}

.contact-us-inner {
    max-width: 530px;
    margin: 0 auto;
}

.contact-us-title {
    margin-bottom: 35px;
    text-align: center;
}

.contact-us-subtitle {
    margin-bottom: 70px;
    text-align: center;
}

.contact-us-form {
    max-width: 530px;
    margin: 0 auto;
    padding: 40px;
    -webkit-box-shadow: 0 0 28px rgba(183, 183, 183, 0.45);
    box-shadow: 0 0 28px rgba(183, 183, 183, 0.45);
    border-radius: 10px;
    background-color: #ffffff;
}

.form-label {
    display: block;
    margin-bottom: 15px;
    color: #000000;
    font-family: "open-sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 13px 15px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #e4e4e4;
    font-family: "open-sans", sans-serif;
    font-size: 16px;
}

.form-initials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-name, .form-lastname {
    width: 48%;
}

.form-name {
    float: left;
}

.form-lastname {
    float: right;
}

.form-message {
    height: 180px;
    margin-bottom: 45px;
    resize: none;
}

.contact-us-circle1 {
    top: 115px;
    left: 315px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-circle2 {
    bottom: 480px;
    right: 56px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.contact-us-circle3 {
    bottom: 348px;
    right: 196px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-circle4 {
    left: 545px;
    bottom: 70px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-circle5 {
    top: 260px;
    right: 240px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 6s infinite;
}

.contact-us-circle6 {
    left: 143px;
    bottom: 173px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.contact-us-circle7 {
    left: 143px;
    top: 330px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-triangle1 {
    bottom: 210px;
    right: 100px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-rect1 {
    top: 165px;
    right: 385px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-rect2 {
    left: 300px;
    top: 450px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 3s infinite;
}

/* Contact Us media */

@media screen and (max-width:992px) {
    .contact-us-circle1, .contact-us-circle3, .contact-us-circle4, .contact-us-circle5, .contact-us-rect2 {
        display: none;
    }
    .contact-us-circle6 {
        left: 65px;
        bottom: 285px;
    }
    .contact-us-circle7 {
        left: 100px;
        top: 736px;
    }
}

@media screen and (max-width:768px) {
    .contact-us-inner {
        padding: 0 15px;
    }
}

@media screen and (max-width:576px) {
    .contact-us-form {
        max-width: 360px;
        padding: 30px 20px;
    }
    .form-name, .form-lastname {
        width: 100%;
    }
    .form-name {
        float: none;
    }
    .form-label {
        font-size: 12px;
    }
    .form-input, .form-textarea {
        padding: 10px 12px 12px;
        font-size: 12px;
    }
    .form-message {
        height: 120px;
        margin-bottom: 25px;
        resize: none;
    }
}

/* Contact Us end */

/* Main end */

/* Footer star */

.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    background: #fafafa;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 65px 15px 95px;
}

.footer-desc {
    max-width: 350px;
}

.footer-logo {
    margin-bottom: 35px;
}

.footer-about {
    margin-bottom: 35px;
    color: #8191a6;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.footer-law {
    margin-bottom: 25px;
}

.privacy, .terms {
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.copyright {
    color: rgba(129, 145, 166, .5);
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.categories-title, .community-title, .follow-title {
    margin-bottom: 30px;
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.categories-list, .community-list, .follow-list {
    color: #8191a6;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.categories-item, .community-item, .follow-item {
    margin-bottom: 20px;
}

.follow-item {
    display: inline-block;
    margin-right: 20px;
}

.categories-link:hover, .community-link:hover, .follow-link:hover {
    color: #303842;
}

/* Footer media */

@media screen and (max-width:768px) {
    .footer-desc {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:768px) {
    .follow-item {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Footer end */