/* Default */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #6b7c93;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background: #fff;
    line-height: 1;
}

body, ul, p, h1, h2, h4 {
    margin: 0;
    padding: 0;
}

input, button, textarea {
    border: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    -webkit-box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
    box-shadow: 0 0 12px rgba(108, 108, 108, 0.23);
    border-radius: 22px;
    background-color: #ffffff;
    color: #4caf50;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*Shape animation  */

@-webkit-keyframes uprise {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes uprise {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

.circle, .triangle, .rect {
    position: absolute;
    z-index: -1;
}

.section-title {
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 34px;
    font-weight: 300;
}

.section-subtitle {
    color: #8191a6;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

/* Custom */

/* Header start */

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.94);
    -webkit-box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
    box-shadow: 0 2px 10px rgba(182, 182, 182, 0.24);
    z-index: 1;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 14px 0;
}

.contact-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
}

.socials-item {
    width: 14px;
    height: 12px;
}

.socials-item+.socials-item {
    margin-left: 22px;
}

.fa-facebook-square:hover {
    color: #405e94;
}

.fa-twitter:hover {
    color: #02a4d5;
}

.fa-pinterest:hover {
    color: #da4d43;
}

.fa-instagram:hover {
    color: #317ba0;
}

.fa-skype:hover {
    color: #00a3dc;
}

.fa-dribbble:hover {
    color: #fa77a3;
}

.contact-phone {
    font-family: 'roboto', sans-serif;
    color: #303842;
    font-size: 12px;
    font-weight: 400;
}

.phone-number {
    margin-left: 16px;
    color: #6b7c93;
    font-weight: 300;
}

.phone-number:hover {
    text-decoration: underline;
}

.header-nav-wrap {
    border-top: 1px solid rgba(0, 0, 0, 0.102);
}

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 13px 0 14px;
}

.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu-item+.menu-item {
    margin-left: 24px;
}

.menu-link {
    padding: 27px 13px;
    border-top: 2px solid transparent;
    font-family: 'roboto', sans-serif;
    color: #45505e;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-link:hover {
    border-top: 2px solid #4caf50;
}

/* Header end */

/* Main start */

/* Home star */

.home {
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.home-title {
    max-width: 883px;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 56px;
    line-height: 64px;
}

.home-subtitle {
    max-width: 670px;
    margin: 0 auto 40px;
    text-align: center;
    color: #6b7c93;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.home-circle1 {
    top: 0;
    left: 370px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle2 {
    top: 77px;
    right: 17px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle3 {
    top: 315px;
    left: 642px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-circle4 {
    top: 412px;
    right: 60px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle5 {
    top: 468px;
    left: 286px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 5s infinite;
}

.home-circle6 {
    right: 385px;
    bottom: 372px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle7 {
    right: 160px;
    bottom: 326px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-circle8 {
    left: 143px;
    bottom: 173px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.home-circle9 {
    left: 350px;
    bottom: 288px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-circle10 {
    bottom: 54px;
    right: 262px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 5s infinite;
}

.home-triangle1 {
    right: 780px;
    bottom: 88px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.home-rect1 {
    right: 494px;
    bottom: 450px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.home-rect2 {
    left: 470px;
    bottom: 120px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

/* Home end */

/* Customers start */

.customers-wrap {
    border-top: 1px solid rgba(0, 0, 0, 0.102);
    border-bottom: 1px solid rgba(0, 0, 0, 0.102);
}

.customers-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 43px 0 35px;
}

.customers-desc {
    max-width: 355px;
}

.customers-title {
    margin-bottom: 13px;
    font-family: 'roboto', sans-serif;
}

.customers-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.customer-logo+.customer-logo {
    margin-left: 72px;
}

/* Customers end */

/* Services start */

.services {
    position: relative;
}

.services-container {
    background: #fff url(../images/servicesbg.png) no-repeat -70px top;
}

.services-inner {
    max-width: 730px;
    margin-left: auto;
}

.services-title {
    margin-bottom: 22px;
}

.services-subtitle {
    margin-bottom: 117px;
}

.services-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 85px;
}

.service-icon {
    color: #8191a6;
    font-size: 40px;
}

.service:hover .service-icon {
    color: #4caf50;
}

.service-desc {
    max-width: 268px;
    padding-left: 26px;
    border-left: 1px solid rgba(0, 0, 0, 0.102);
}

.service-name {
    margin-bottom: 16px;
    font-family: 'open-sans', sans-serif;
    color: #252b33;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.service-text {
    font-family: 'open-sans', sans-serif;
    color: #8191a6;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

/* Services end */

/* Advantages star */

.advantages {
    position: relative;
    background: #fafafa;
}

.advantages-container {
    background: #fafafa url(../images/advantagesbg.png) no-repeat right top;
}

.advantages-inner {
    max-width: 750px;
    margin-right: auto;
}

.advantages-title {
    margin-bottom: 30px;
}

.advantages-subtitle {
    margin-bottom: 110px;
}

.advantages-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 430px;
}

.advantage {
    width: 150px;
    margin-bottom: 80px;
}

.advantage-title {
    color: #303842;
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.advantage-count {
    display: block;
    color: #303842;
    font-family: 'roboto', sans-serif;
    font-size: 44px;
    font-weight: 100;
}

.project-count {
    color: #32d5ba;
}

.cofees-count {
    color: #6dc4f2;
}

.customers-count {
    color: #ffd13c;
}

.code-count {
    color: #f44336;
}

/* Advantages end */

/* Contact Us start */

.contact-us {
    position: relative;
}

.contact-us-inner {
    max-width: 750px;
    margin: 0 auto;
}

.contact-us-title {
    margin-bottom: 34px;
    text-align: center;
}

.contact-us-subtitle {
    margin-bottom: 100px;
    padding: 0 110px;
    text-align: center;
}

.contact-us-form {
    padding: 65px;
    -webkit-box-shadow: 0 0 28px rgba(183, 183, 183, 0.45);
    box-shadow: 0 0 28px rgba(183, 183, 183, 0.45);
    border-radius: 9px;
    background-color: #ffffff;
}

.form-label {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-family: "open-sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 18px 20px 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-family: "open-sans", sans-serif;
    font-size: 18px;
}

.form-initials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-name, .form-lastname {
    width: 48%;
}

.form-name {
    float: left;
}

.form-lastname {
    float: right;
}

.form-message {
    height: 180px;
    margin-bottom: 57px;
    resize: none;
}

.contact-us-circle1 {
    top: 136px;
    left: 504px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-circle2 {
    bottom: 480px;
    right: 56px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.contact-us-circle3 {
    bottom: 348px;
    right: 196px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-circle4 {
    left: 545px;
    bottom: 70px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-circle5 {
    top: 260px;
    right: 240px;
    -webkit-animation: uprise 5s infinite;
    animation: uprise 6s infinite;
}

.contact-us-circle6 {
    left: 143px;
    bottom: 173px;
    -webkit-animation: uprise 4s infinite;
    animation: uprise 4s infinite;
}

.contact-us-circle7 {
    left: 143px;
    top: 330px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-triangle1 {
    bottom: 210px;
    right: 100px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 2s infinite;
}

.contact-us-rect1 {
    top: 195px;
    right: 564px;
    -webkit-animation: uprise 3s infinite;
    animation: uprise 3s infinite;
}

.contact-us-rect2 {
    left: 300px;
    top: 450px;
    -webkit-animation: uprise 2s infinite;
    animation: uprise 3s infinite;
}

/* Contact Us end */

/* Main end */